/* Harrison Busby Section */



/* Start Brandon's Styles */
/* Start Styles that I can re use */
.blackBG{
    background: black;
}
.whiteFont{
    color: white;
}
/* End Styles that I can re use */
/* Start Home Page Styles */
.homePageGif {
    background-image: url("./Assets/smallergrill.gif");
    padding-bottom: 50%;
    max-width: 100%;
    display: flex;
    background-size: cover;
    overflow: hidden;
}
.bbqFont{
    font-size: 45px;
    color: white;
    margin-left: 250px;
    margin-top: 100px;
    border-top: 10px;
    border-color: white;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
.yelpBG{
    background-image: url("./Assets/WoodAgain.jpg");
    padding-bottom: 50%;
    max-width: 100%;
    display: flex;
    background-size: cover;
    overflow: hidden;
}
/* End Home Page Styles */
/* Start Footer */
.footerText{
    font-size: 22px;
}
.footerText2{
    font-size: 8px;
}
.footerSpace2{
    display: flex;
    margin-top: -11px;
}
.footerSpace2right{ 
    margin-top: -20px;
}
/* End Footer */
/* End Brandon's Styles */





/* Kent Tupas Section */



