/* Harrison Busby Section */

.center{
    display: flex;
    justify-content: center;
}

.backHeroImg1{
    background-image: url(./Assets/Brick.jpg);
}
.backHeroImg2{
    background-image: url(./Assets/GrillBill.png);
   background-size: cover;
   height: auto;
}

.fillAuto{
    height: auto;
}
.background1{
    background-color: rgba(0, 0, 0, .6);


    
}

.bodyBackground{
    background-color: black;

}


@font-face {
    font-family: CormorantGaramondRegular;
    src: url(./Fonts/CormorantGaramond-Regular.ttf);
   }

@font-face {
    font-family: CormorantGaramondBold;
    src: url(./Fonts/CormorantGaramond-Bold.ttf);
}
@font-face {
    font-family: ProzaLibreRegular;
    src: url(./Fonts/ProzaLibre-Regular.ttf);
}
@font-face {
    font-family: ProzaLibraBold;
    src: url(./Fonts/ProzaLibre-Bold.ttf);
}

.font1{
    color: white;
    font-family: CormorantGaramondRegular;
    font-size: 24.9px;
    text-align: left;
}
.headingColor{
    color: red;
    font-family: ProzaLibreBold;
    font-size: 50px;
    
}

.testLine{
    border-top: 3px solid #FFFF;
    display: block;
    width: 210px;
    align-content: left ;
}
.line2{
    border-bottom: 3px solid #FFFF;
    display: block;
    width: 210px;
  
}

.alignRight{
    text-align: right;
}





/* Brandon Le Section */









/* Kent Tupas Section */







