/* Harrison Busby Section */
.center{
    display: flex;
    justify-content: center;
}

.backHeroImg1{
    background-image: url(./Assets/Brick.jpg);
}
.backHeroImg2{
    background-image: url(./Assets/GrillBill.png);
    display: fit;
}
.background1{
    background-color: rgba(0, 0, 0, .6)
    

}

.font1{
    color: white;
   


}
.headingColor{
    color: red;
    
}

/* Brandon Le Section */







/* Kent Tupas Section */







